<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Chat with Socket.io</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><span>Realtime-Chat</span><button class="clear-btn">clear</button></header>
    <section class="chat-box">
    </section>
    <section>
        <textarea class='text-area' rows="4" cols="50"></textarea>
        <button class="send-btn" type="submit">Send Message</button>
    </section>
    <footer><ul class="users"></ul></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
  </body>
</html>
