body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

nav {
  width: 100vw;
}

.navbar-brand {
  font-size: 30px;
}

a {
  color: #00B7FF;
}

.text-area {
  border: 1px solid black;
  width: 60vw;
  margin-right: 5px;
}

.btn {
  display: inline-block;
}

.chat-area {
  padding: 0;
}

.chat-box {
  height: 88vh;
  overflow-y: scroll;
}

.loggedin-users {
  background: grey;
  height: 93vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedin-title {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 1em;
}

.card {
  background: blue;
  padding: 10px;
  margin: 10px;
  color: white;
  width: 90%;
  float: left;
}

.current-user-msg {
  background: green;
  margin-left: auto;
}

.chat-box {
  display: flex;
  flex-direction: column;
}

.chat-box p {
  margin: 10px;
}

li {
  font-size: 20px;
  margin-right: auto;
}

.input-group {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*---Media Queries---*/
@media (max-width: 1404px) {
  .text-area {
    width: 54vw;
  }
}

@media (max-width: 1024px) {
  .text-area {
    width: 52vw;
  }
}

@media (max-width: 992px) {
  .text-area {
    width: 50vw;
  }
}

@media (max-width: 840px) {
  .text-area {
    width: 45vw;
  }
}

@media (max-width: 576px) {
  .loggedin-users {
    height: 90vh;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-area {
    width: 75vw;
  }

  .loggedin-title {
    font-size: 20px;
  }

  .btn {
    margin-top: 5px;
    font-size: 10px;
  }

  li {
    font-size: 12px;
  }

}