body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

nav {
  width: 100vw;
}

a {
  color: #00B7FF;
}

.text-area {
  border: 1px solid black;
  width: 60vw;
  margin-right: 5px;
}

.btn {
  display: inline-block;
}

.chat-area {
  padding: 0;
}

.chat-box {
  height: 90vh;
  overflow-y: scroll;
}

.loggedin-users {
  background: grey;
  height: 95vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedin-title {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 1em;
}

.card {
  background: blue;
  padding: 10px;
  margin: 10px;
  color: white;
}

.chat-box p {
  margin: 10px;
}

li {
  font-size: 20px;
}